{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "97193"}}, % 2013-03-29
        {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2-community"}}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "eab8ab"}} % 2013-02-24
       ]}.
{erl_opts, [{parse_transform, lager_transform}]}.
